FLAME/MULLION
FLAME/__pycache__
FLAME/MISC
FLAME/DEAPlotting.py
Speckie/31JUL20/se_31_7_2020
Speckie/31JUL20/asd_31_7_2020
Speckie/31JUL20/__pycache__
Speckie/temp*
FLAME/CALIBRATION/FLAME_calibration_GA_ORIGINAL
FLAME/WORKFLOWS/OLD_PICKS
FLAME/WORKFLOWS/OLD_PNGS
FLAME/WORKFLOWS/forEric
FLAME/WORKFLOWS/*csv
FLAME/WORKFLOWS/*pick
FLAME/WORKFLOWS/04MAY20_10mLines_grounds.csv
FLAME/WORKFLOWS/04MAY20_10mLines_panels.csv
FLAME/WORKFLOWS/04MAY20_2.1mLines_grounds.csv
FLAME/WORKFLOWS/04MAY20_2.1mLines_panels.csv
FLAME/WORKFLOWS/20MAR20_Flame.csv
FLAME/WORKFLOWS/avgdata.pick
